In [2]:
import pandas as pd

In [3]:
source = r"Combined_News_DJIA.csv"
df = pd.read_csv(source)

In [4]:
cols = df.columns

for col in cols[2:]:
    df[col] = df[col].astype(str).str[2:-1]

In [5]:
df_melt = df.melt(id_vars=['Date', 'Label'], value_vars=df.columns[2:], var_name='Top', value_name='Headline')
df_melt = df_melt.drop(columns=['Label'])
df_melt["Top"] = df_melt["Top"].str.replace("Top", "").astype("Int16")
df_melt = df_melt.sort_values(['Date', "Top"])

df_melt.to_csv("Combined_News_DJIA_cleaned_for_vicuna_full.csv", index=False)

# display(df_melt)

In [8]:
# Check
headline_source = r"Combined_News_DJIA_cleaned_for_vicuna_full.csv"
headline_df = pd.read_csv(headline_source)
display(headline_df)

             Date  Top                                           Headline
0      2008-08-08    1  Georgia 'downs two Russian warplanes' as count...
1      2008-08-08    2               BREAKING: Musharraf to be impeached.
2      2008-08-08    3  Russia Today: Columns of troops roll into Sout...
3      2008-08-08    4  Russian tanks are moving towards the capital o...
4      2008-08-08    5  Afghan children raped with 'impunity,' U.N. of...
...           ...  ...                                                ...
49720  2016-07-01   21  ilippines president Rodrigo Duterte urges peop...
49721  2016-07-01   22  ain arrests three Pakistanis accused of promot...
49722  2016-07-01   23  nezuela, where anger over food shortages is st...
49723  2016-07-01   24  Hindu temple worker has been killed by three m...
49724  2016-07-01   25  one layer hole seems to be healing - US &amp; ...

[49725 rows x 3 columns]

In [12]:
headline_df_1to10 = headline_df[headline_df["Top"] <= 10]
headline_df_1to10.to_csv("Combined_News_DJIA_cleaned_for_vicuna_1to10.csv", index=False)

In [15]:
processed_df = pd.DataFrame(columns=['Date', 'Headline', 'Sentiment'])
print(processed_df)
processed_df = pd.concat([processed_df, pd.DataFrame({'Date': ["temp"], 'Headline': ["temp"], 'Sentiment': ["temp"]})], ignore_index=True)

Empty DataFrame
Columns: [Date, Headline, Sentiment]
Index: []

In [16]:
display(processed_df)

   Date Headline Sentiment
0  temp     temp      temp

In [3]:
headline_df_small = pd.read_csv(r"Combined_News_DJIA_cleaned_for_vicuna_1to10.csv")
headline_df_1to3 = headline_df_small[headline_df_small["Top"] <= 10]
headline_df_1to3 = headline_df_1to3[headline_df_1to3['Date'] < '2010-07-01']


headline_df_1to3.to_csv("unprocessed_rows.csv", index=False)
processed_df = pd.DataFrame(columns=['Date', 'Headline', 'Sentiment'])
print(processed_df)
processed_df = pd.concat([processed_df, pd.DataFrame({'Date': ["temp"], 'Headline': ["temp"], 'Sentiment': ["temp"]})], ignore_index=True)

Empty DataFrame
Columns: [Date, Headline, Sentiment]
Index: []